<!DOCTYPE html>
<html lang="en">
<head>
	<meta content='text/html'; charset="UTF-8" http-equiv='Content-Type' />
</head>
<body>
	<h2> Greetings from RailTime,</h2>
	<p>
		Here are your alert updates for MTA Metro-North Travel:
	</p>
	<% @updates.each do |update| %>
		<p><%= update[:train_id] %></p>
		<p><%= update[:etd] %></p>
		<p><%= update[:scheduled_arrival] %></p>
		<p><%= update[:updated_arrival] %></p>
	<% end %>
	
</body>
</html>