<!DOCTYPE html>
<html lang="en">
<head>
	<meta content='text/html'; charset="UTF-8" http-equiv='Content-Type' />
</head>
<body>
	<h2> Hi <@user.username %></h2>
	<p>
		Here are your alert updates for MTA Metro-North Travel:
	</p>
	
</body>
</html>