/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url("https://i0.wp.com/thenypost.files.wordpress.com/2014/12/metronorth.jpg") ;
	height: 100%;
	width: 980px;
	font-family: Helvetica;
	font-style: italic;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 2.5%;
}

#container {
	background: rgba(245,255,250,0.7);
	height: 90%;
	width: 95%;
	display: table;
  padding: 1em;
}

#hudson {
	color: #009B3A;
	background: white;
	border-bottom: solid;
	border-color: #009B3A;
	border-width: 0.25em;
	border-radius: 0.1em;
}

#harlem {
	color: #0039A6;
	background: white;
	border-bottom: solid;
	border-color: #0039A6;
	border-width: 0.25em;
	border-radius: 0.1em;
}

#new-haven {
	color: #EE0034;
	background: white;
	border-bottom: solid;
	border-color: #EE0034;
	border-width: 0.25em;
	border-radius: 0.1em;
}

#station-list-view {
	display: inline-block;
	float: left;
	width: 75%;
}

#station-dropdown {
	display: inline-block;
	float: left;
	margin: 2.5% 5%;
	padding: 0.25em;
	max-height: 300px;
	overflow: scroll;
}

#line-names {
	float: left;
	margin-right: 10%;
}

.line {
	padding: 5% 5%;
	margin: 5%;
	font-size: 2.25em;
	width: 100%;
}

.line:hover {
	transform: scale(1.1);
}

.hudson .station-name {
	color: #009B3A;
	border-bottom: solid;
	border-color: #009B3A;
}

.harlem .station-name {
	color: #0039A6;
	border-bottom: solid;
	border-color: #0039A6;
}

.new-haven .station-name {
	color: #EE0034;
	border-bottom: solid;
	border-color: #EE0034;
}

.station-name {
	padding: 0.2em;
	margin-top: 0.2em;
	background: white;
	border-radius: 0.1em;
}

.station-name:hover {
	transform: scale(1.05);
}

.direction-choice {
	background-color: white;
	border-bottom: solid;
	border-color: black;
	border-width: 0.25em;
	border-radius: 0.1em;
	width: 25%;
	float: left;
	margin-top: 0.2em;
	padding: 0.2em;
}

.direction-choice:hover {
	transform: scale(1.2);
}

modal {
	z-index: 9999999;
	position: absolute;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 0em 100em rgba(112,128,144, 0.8);
	border-radius: .25em;
	padding: 1em;
}

th {
	padding: 0.25em;
}

td {
	padding: 0.25em;
	margin: 0 auto;
}

#save-alert-click {
	border-bottom: solid black;
	overflow: auto;
	float: left;
	padding: 0% 2%;
}

#save-alert-click:hover {
	transform: scale(1.1);
}

#exit-modal {
	border-bottom: solid black;
	overflow: auto;
	float: right;
	padding: 0% 2%;
}

#exit-modal:hover {
	transform: scale(1.1);
}

.station-name.clicked {
	color: gold;
}

.station-name.clicked {
	color: gold;
}

.direction-choice.clicked {
	color: gold;
}

#floatingBarsG{
position:relative;
width:62px;
height:77px}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.96s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.96s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.96s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.96s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.96s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.36s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.36s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.36s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.36s;
-o-transform:rotate(-90deg);
animation-delay:0.36s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.48s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.48s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.48s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.48s;
-o-transform:rotate(-45deg);
animation-delay:0.48s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.6s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.6s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.6s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.6s;
-o-transform:rotate(0deg);
animation-delay:0.6s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.72s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.72s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.72s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.72s;
-o-transform:rotate(45deg);
animation-delay:0.72s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.8400000000000001s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.8400000000000001s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.8400000000000001s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.8400000000000001s;
-o-transform:rotate(90deg);
animation-delay:0.8400000000000001s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:0.96s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.96s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.96s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.96s;
-o-transform:rotate(135deg);
animation-delay:0.96s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.0799999999999998s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.0799999999999998s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.0799999999999998s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.0799999999999998s;
-o-transform:rotate(180deg);
animation-delay:1.0799999999999998s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.2s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.2s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.2s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.2s;
-o-transform:rotate(-135deg);
animation-delay:1.2s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}
