<!DOCTYPE html>
<html>
<head>
  <title>RailTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>Choose your rail line</h2>

	<h3 class='line' id='hudson' attr='1'>Hudson</h3>
	<h3 class='line' id='harlem' attr='2'>Harlem</h3>
	<h3 class='line' id='new-haven' attr='3'>New Haven</h3>

	<div id='station-dropdown'>
		
	</div>

</body>
</html>
