<!DOCTYPE html>
<html>
<head>
  <title>RailTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h2>Choose your rail line</h2>
	<div id='station-list-view'>
		
		<h3 class='line' id='hudson' attr='1'>Hudson</h3>
		<h3 class='line' id='harlem' attr='2'>Harlem</h3>
		<h3 class='line' id='new-haven' attr='3'>New Haven</h3>

		<div id="station-dropdown">	
		</div>

		<div id="direction" hidden>
			<h3 class='direction-choice' id='north'>North</h3>
			<h3 class='direction-choice' id='south'>South</h3>
		</div>

		<table hidden>
			<tr id='station-table-header'></tr>
			<tr>
    		<th>Train Number</th>
    		<th>ETD</th> 
    		<th>Scheduled Arrival</th>
    		<th>Updated Arrival</th>
  		</tr>
		</table>
		<modal id='login' hidden>

		</modal>
		<modal id='create' hidden>
			
		</modal>
	</div>
		

</body>
</html>
