<!DOCTYPE html>
<html>
<head>
  <title>RailTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='container'>
		<div id='station-list-view'>
			<h2>1. Choose your rail line</h2>
			<div id="line-names">
				<h3 class='line' id='hudson' attr='1'>Hudson</h3>
				<h3 class='line' id='harlem' attr='2'>Harlem</h3>
				<h3 class='line' id='new-haven' attr='3'>New Haven</h3>
			</div>
			<div id="station-dropdown">
			</div>

			<div id="direction" hidden>
				<h3 class='direction-choice' id='north'>To Grand Central</h3>
				<h3 class='direction-choice' id='south'>From Grand Central</h3>
			</div>
			<modal hidden>
				<table>
					<tr id='station-table-header'></tr>
					<tr>
		    		<th>Train Number</th>
		    		<th>ETD</th> 
		    		<th>Scheduled Arrival</th>
		    		<th>Updated Arrival</th>
		  		</tr>
				</table>
				<div id='save-alert'>
					<form>
						Save Time for future Alerts!: <input type="time" name="usr_time" placeholder="hrs:mins">
						Email: <input type="text" name='usremail' placeholder='you@example.com'><br>
						<span id='save-alert-click'>Save Alert</span>
					</form>
				</div>
			</modal>
		</div>
	</div>
</body>
</html>
